<main class="container">
  <div class="columns is-multiline">
    <% arts.forEach(art => { %>
    <div class="column is-one-quarter-desktop is-half-tablet">
      <a href="/arts/<%= art._id %>">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img src="<%= art.image %>" alt="<%= art.name %>">
          </figure>
        </div>
        <div class="card-content">
          <h3 class="title"><%= art.artname %></h3>
          <h4 class="subtitle"><%= art.notes %></h4>
        </div>
      </div>
      </a>
    </div>
    <% }) %>
  </div>
</main>
